<launch>
    <include file="$(find openni2_launch)/launch/openni2.launch" />
    <rosparam command="load" file="$(find mydetector)/config/goaldetector_params.yaml" />
    <node name="mydetector"  pkg="mydetector"  type="goaldetector" output="screen"/>
<param name="mystate"     type="int"    value="0"/>
</launch>
